[submodule "bundle/SingleCompile"]
	path = bundle/SingleCompile
	url = https://github.com/vim-scripts/SingleCompile.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "bundle/vim-mucomplete"]
	path = bundle/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-syntax"]
	path = bundle/vim-syntax
	url = https://github.com/Shadowsith/vim-syntax.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/pgsql.vim"]
	path = bundle/pgsql.vim
	url = https://github.com/lifepillar/pgsql.vim.git
[submodule "bundle/vim-cheat40"]
	path = bundle/vim-cheat40
	url = https://github.com/lifepillar/vim-cheat40.git
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/completor.vim"]
	path = bundle/completor.vim
	url = https://github.com/maralla/completor.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "bundle/vim-javacomplete2"]
	path = bundle/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
